 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 643px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 376px;
  margin: 62px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 65px;
  width: 738px;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 356px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 224px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}